html{
  width: 100%;background-color: rgb(246, 245, 243);
}
body{background-color:#ffffff;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;width: 100%;}

h1{
  font-size: 500px;
    font-family: "Impact";
}

h2{
  font-size:50px;
  font-family: "Impact";
  background-color: aliceblue;
}
#h2-grande{font-size:100px;}


h3{font-size:30px;color:rgb(0, 0, 0);background-color:#ffffff;text-align:center;padding:15px;  font-family: "Impact";border-color: black;border-style: solid;}

a:link{color:#2b6682;background-color:transparent;text-decoration:none;}

button{
	background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
display: inline-block;
border-color: #000000;
border-style: solid;
border-radius:7% ;}
button:hover{background-color:rgb(54, 134, 163);}


#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4A2921;
    color:white;
}
li {
  display: inline;
  li a{padding: 8px;}
}li a:hover{
  background-color: maroon;
  color:white;
}

#portada{height:200px;width: 100%;}
#imagenlogo{height: 200px;width: 200px;display:block;margin:auto;}